.tudnivalo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

.j_tudnivalo {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 25px;
}

.leiras {
    margin-top: 55px;
    margin-right: 50px;
    text-align: justify;
}

.vigyazz{
    color: red;
    font-weight: bold;
}

.template-teteje{
    padding-top: 40px;
}

.helyszin-img{
    width: 500px;
    height: 250px;
}

nav{
    padding-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.nav-item{
    margin-left: 50px;
    margin-right: 50px;
}

.cím{
    text-align: center;
    padding-bottom: 30px;
}

.alcím{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}